body {
    font-family: 'Work Sans', sans-serif;
}

head {
    font-family: 'Work Sans', sans-serif;
}

footer {
    font-family: 'Work Sans', sans-serif;
}

.common_description {
    /* border: 1px solid red; */
    color: #534C64;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;

}

.play_game_text_two {
    padding-left: 56px;
}

.head {
    padding: 37px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.head_deatils {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head_text {
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;
    color: #0B0223;
}

/* head_image  */
.head_frame {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

.G {
    color: #FF42A5;
}

/* for urls and links  */
.links {
    display: flex;
    align-items: center;
    gap: 32px;
}

/* head_img_text here */
.head_img_text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Follow_Us {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.13rem;
    display: flex;
    margin-right: 24px;
    padding: 18px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: 0;
}

.icon_img {
    width: 33.916px;
    height: 24px;
    margin-left: 24px;
    margin-right: 16px;
}

ul>li {
    list-style: none;
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 1rem;
}

/* header css starts here */
/* header css ends here */
.banner_text {
    /* background-color: #8758F1; */

    width: 100%;
    background-repeat: no-repeat;
    max-width: 1140px;
    margin: 0 auto;

}

.gota_text {
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    margin-bottom: 4px;
    background-repeat: no-repeat;
}

.banner_title {
    color: #0B0223;
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}

/* main css starts here */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about_info {
    display: flex;
    gap: 12px;
}

.banner {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(../images/Group14.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    margin: 0 auto;
}
.banner_images {
    width: 85%;
    padding-right: 240px;
}
.banner_text{
padding-left: 240px;
}

/* banner design css starts */

/* banner design css ends */
/* main css ends here */


.gamer_title {
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    margin: 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

.Our_purpose {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 0;
}

.unleash {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    margin: 0;
}

.gamer_description {
    color: #534C64;
    /* border: 1px solid red; */

    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    margin-top: 24px;
    margin-bottom: 32px;


}

.know_more {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.25rem;
    border: 0;
    text-transform: uppercase;

}

.we_are_gamer {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    margin-top: 55px;
}

.we_gamer_img {
    /* border: 1px solid red; */
    width: 700px;
}

.we_gamer {
    /* border: 1px solid red; */
    text-align: right;
    margin-left: 52px;
}

/* section 2: online game videos css starts */
.online_game {
    /* border: 1px solid red; */
    align-items: center;
}

.online_game_text {
    text-align: center;
}

.online_game_title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
}

.funny_video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
}

.online_game_text {
    text-align: center;
}

.video_media {
    display: flex;
    gap: 24px;
    /* border: 1px solid red; */
    text-align: center;
}

.online_video {
    width: 265px;
    height: 290px;
}
.online_video_spe {
    width: 265px;
    height: 290px;

}
.online_video_spe:hover{
color: #0B0223;
}
.online_game_media_op{
    position: relative;
  display: inline-block;
}
.play-button{
    position: absolute;
    justify-content: center;
    transform: translate(-50%, -50%);
    top: 38%;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: black;
}
.play-button:hover {
    background-color: black;
  }
.play-button::before {
    content: '';
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent white;
  }
  .iamge_overlay{
    background-color: #F948B2;
  }
.video_text{
    color: #534C64;
font-family: Work Sans;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
}

/* section 2: online game videos css ends */
/* section 3: play game anywhere starts */


.play_game_heading {
    font-family: Work Sans;
    font-size: 3rem;
    margin: 0px;
}


.instantly {
    color: #FF42A5;
}

.play_game_1 {
    width: 481px;
    height: 512px;
}

.play_game_3 {
    width: 604px;
    height: 613px;
}

.play_game_text_one {
    padding-left: 107px;
    text-align: right;
    padding-right: 50px;
}

.play_game_2 {
    position: relative;
    top: 202px;
    right: 0px;
    width: 226%;
    /* height: 40%; */
}

.play_game_4 {
    position: relative;
    top: 257px;
    right: 164px;
    width: 243%;
}

.play_game {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 196px;
    margin-top: 120px;

}
.play_game{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 196px;
    margin-top: 120px;
}
.play_game_new{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 196px;
    margin-top: 120px;
}



.play_game_media {
    align-items: center;
}



/* section 3: play game anywhere ends */

/* career css starts */
.Careers_content {
    max-width: 1140px;
    margin: 120px 0px;
}

#careers {
    color: #FFF;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 0px;
    /* 125% */
}

#careers_description {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.career_text_align {
    display: flex;
}

.row_text {
    margin-right: 92px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.25rem;
}

.Careers {
    background-color: #FF42A5;
}

.category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    -ms-grid-row-align: center;
}

.career_mediea {
    width: 890px;
    height: 880px;
}

.career_text_container {
    display: flex;
    justify-content: space-around;
    padding-left: 240px;
    align-items: center;
}

.See_all_positions {
    border-radius: 48px;
    background: #FFF;
    padding: 21px 40px;
    font-family: Work Sans;
    font-size: 1.25rem;
    border: 0;
    color: #F948B2;
    margin-top: 40px;
}


.div_one {
    display: flex;
}

.img_cat {
    display: flex;
    gap: 18px;
    border-radius: 50px;
    background: #FFF;
    padding: 10px 20px;
    justify-content: center;
}

.text_cat {
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.image_categories {
    margin: 130px auto;
}

.div_one {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
}

.div_two {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_cat_special {
    display: flex;
    border: 1px solid #FF42A5;
    gap: 18px;
    border-radius: 50px;
    background: #FFF;
    padding: 10px 20px;
}

.text_cat_special {
    font-family: Work Sans;
    font-size: 1.25rem;
    color: #FF42A5;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.category_img_size {
    width: 60px;
    height: 60px;
}

.footer {
    background: #0B0223;
    align-items: center;
    padding: 130px 0;

}

.footer_data {
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-family: Work Sans;
    font-size: 1rem;
    color: #FFF;
    margin-bottom: 66px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-family: Work Sans;
    font-size: 1rem;
    margin-bottom: 72px;
}

.impoprtant_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 1rem;
    margin-bottom: 28px;

}

.copy_right {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_text {
    color: #FFF;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-style: normal;

}


/* footer css ends here */

/* responsive css starts */
@media screen and (max-width: 576px) {

    .head_deatils,
    .links,
    .we_are_gamer,
    .video_media,
    .play_game,
    .career_text_container,
    .career_text_align,
    .div_one,
    .div_two,
    .link,
    .icon,
    .impoprtant_link,
    .banner,
    .play_game_new
     {
        flex-direction: column;
    }

    .links {
        margin: 0;
        padding: 0;
    }

    .Follow_Us {
        margin: 0;
    }

    ul>li {
        margin-right: 18px;
    }

    .we_gamer_img {
        width: 100%;
    }

    .we_gamer {

        text-align: center;

    }

    .we_gamer {
        margin: 0;
    }

    .Our_purpose,
    .gamer_title {
        text-align: center;
    }

    .head {
        padding: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .play_game_text_one {
        text-align: center;
        padding: 0px;
    }

    .play_game_1 {
        width: 86%;
        height: 100%;
    }

    .play_game_2 {
        position: relative;
        top: 325px;
        right: 33px;
        width: 39%;

    }

    .play_game_3 {
        width: 86%;
        height: 100%;
    }

    .play_game_4 {
        position: relative;
        top: 338px;
        right: -192px;
        width: 45%;
    }

    .play_game_play_instant {
        align-items: center;
        padding: 20px;
        margin-top: 2.5rem;
    }

    .play_game_text_two {
        text-align: center;
        padding: 0px;
    }

    .career_mediea {
        width: 100%;
        height: 100%;
    }
    .career_text_container{
        padding: 0;
        
    }
 .play_game_1{
margin: 0;
padding: 0;
 }
 .Careers_content{
    padding: 20px;
    max-width: 1140px;
 }
 .image_categories{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
 }
 .link {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
 }
 .icon{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
 }
 .impoprtant_link{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
 }
 .banner_text{
    margin-top: 70px;
 }

 .career_text_container{
    align-items: center;
 }
 .banner_images{padding: 0px;
width: 100%;
align-items: normal;

}
.banner_text{
    padding: 0px;
    text-align: center;

}
.banner{
    flex-direction: column-reverse;
}
.play_game_new{
    flex-direction: column-reverse;
}
.copy_right{
    margin-top: 74px;
}
.footer{
    padding-left: 20px;
    padding-right: 20px;
}
}
/* responsive css ends */